.colors{
    color: #fff;
    color: #f8f9fa;
    color: #03071E;
    color: #02061a;
    color: #FAA307;
    color: #FFBA08;
    color: #3d5a80;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Mukta', sans-serif;
}

p, a, label{   
    font-family: 'Open Sans', sans-serif;
}

.text-blue{
    color: #03071E;
}

.bg-grey{
    background: #f8f9fa;
}

.bg-blue{
    background: #03071E;
}

.border-secondary{
    border-color: #ddebeb !important;
}

.btn-blue {
    color: #fff;
    background-color: #03071E;
    border-color: #03071E;
    opacity: .8;
}
  
  .btn-blue:hover {
    color: #fff;
    background-color: #03071E;
    border-color: #03071E;
    opacity: 1;
}

.btn-yellow {
    color: #fff;
    background-color: #FAA307;
    border-color: #FAA307;
}
  
  .btn-yellow:hover {
    color: #fff;
    background-color: #FFBA08;
    border-color: #FFBA08;
}

.div-login a{
    font-size: .80em;
    color: #FAA307;
}

.div-login a:hover{
    color: #FFBA08;
}

.form-control{
    height: 3.2em;
    border-radius: 2em;
    background: rgba(16, 24, 70, 0.5);
    color: #fff;
}

.form-control::placeholder {
    color: #fff;
    opacity: .8;
}

.input-group-text{
    border-radius: 2em;
    width: 3em;
}

.item-menu:hover{
    background: #03071E; 
}

.link-menu{
    color: #03071E;
}

.link-menu:hover{
    color: #fff;
}

.active2{
    background: #03071E;
    color: #fff;
}

.link-card{
    color: #fff;
}

.link-card:hover{
    color: #e0e0e0;
}

.div-cards{
    width: 200px;
    height: 150px;
    background-color: #fca311;
    text-align: center;
}

@media screen and (min-width: 768px){
    .div-cards{
        width: 260px;
        height: 150px;
    }
}

.div-cards:hover{
    background-color: #3d5a80;
}

.produto{
    width: 100%;
    height: auto;
    background: #f2f8f8;
}

.img-produto{
    width: 100%;
    height: 300px;
    position: relative;
}

.div-produto{
    width: 100%;
    height: 300px;
    top: 0;
    position: absolute;
}

.botao{
    visibility: hidden;
    opacity: 0;
    width: 200px;
    position: relative;
    bottom: -100%;
    font-size: .9em;
}

.div-produto:hover{
    background: rgba(245, 203, 92, 0.5);
    transition: 1s;
}

.div-produto:hover .botao{
    opacity: 1;
    bottom: -50%;
    transition: .3s;
    visibility: visible;
}

.thumb{
    width: 100%;
    height: 130px;
}

footer p{
    font-size: .85em;
}

.social{
    width: 45px;
    height: 45px;
    background-color: #343a40;
    text-align: center; 
    padding-top: 8px;
}

.social:hover{
    background-color: #FAA307;
    transition: .4s;
}

.nav-footer li{
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 2px solid #1e395e;
    display: list-item;
}

.nav-footer li a{
    text-decoration: none;
    color: #fff;
    display: block;
}

.nav-footer li:hover{
    border-bottom: 2px solid #fff;
}

.nav-footer a:hover{
    color: #1e395e;
}


